.Home {
  $green: #3F9E94;
  $green-alt: rgba(136, 189, 107, 0.53);
  $dark-gray: rgb(126, 126, 126);
  $light-gray: rgb(158, 158, 158);
  $orange: #E46350;
  $black: #333;

  padding: 32px;

  section h1 {
    text-align: center;
  }

  .dropzone p {
    padding: 16px;
  }

  .container {
    width: calc(100% / 3);
    margin: 0 auto;
  }
}
