.Header {
  $green: #3F9E94;
  $orange: #E46350;

  display: grid;
  grid: 1fr / 2fr repeat(6, 1fr) 2fr;
  text-align: center;
  background: #272727;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  letter-spacing: 0.7px;
  height: 66px;
  align-items: center; // vertically centers the header text

  .header {

  }

  a {
    text-decoration: none;
    color: inherit;
    padding: 24px;
    transition: background 200ms;

    &:hover {
      background: $green;
      cursor: pointer;
    }
  }
}
