.MobileHeader {
  $green: #3F9E94;
  $orange: #E46350;

  text-align: right;
  background: #272727;
  color: white;
  font-family: helvetica;
  font-weight: bold;
  letter-spacing: 0.7px;
  min-height: 40px;
  align-items: center; // vertically centers the header text

  .header-content {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    height: 0;
    transition: height 450ms ease-in-out;

    &.expanded {
      height: 420px;
    }
  }

  .fa {
    font-size: 30px;
    padding-top: 4px;
    padding-right: 24px;
  }

  .home-button {
    margin-top: 12px;
  }

  a {
    text-decoration: none;
    color: inherit;
    padding: 24px;
    transition: background 200ms;
    height: 20px;

    &:hover {
      background: $green;
      cursor: pointer;
    }
  }
}
